* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

/* utilities */
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.7rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.bottom-line {
  height: 2.7px;
  width: 6rem;
  background: #1a1514;
  display: block;
  margin: 0 auto 2rem auto;
}

.section-title {
  font-size: 2.2rem;
  color: #1a1514;
}

/* first nav */
#main-nav {
  padding: 1rem 2.5rem;
  margin: auto;
  overflow: hidden;
  background-color: #20384c;
  color: #fff;
  font-weight: 550;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.left-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right ul a {
  padding: 5px;
}

/* second nav */
#second-nav a {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(113, 113, 113);
}

#second-nav {
  display: flex;
  justify-content: space-between;
}

#second-nav ul {
  display: flex;
}

#second-nav ul li {
  padding: 2rem 2rem;
}

/* Home Section */
/* Home Section A */

.header-background {
  position: absolute;
  width: 1280px;
  height: 22vh;
  background: url(/images/section1bg.jpg) no-repeat center right / cover;
  filter: invert(31%) sepia(60%) saturate(454%) hue-rotate(164deg)
    brightness(53%) contrast(100%);

  /* Tinting background 2nd method
    background-image: 
    linear-gradient(
      rgba(0, 15, 200, 0.5),
      rgba(0, 15, 200, 0.5)
    ),
    url(/images/section1bg.jpg);
   */
  padding-top: 10%;
  padding-bottom: 10%;
  z-index: -1;
}

.header-content {
  padding-top: 12%;
  padding-bottom: 15%;
  z-index: 9999;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.header-content > h1 {
  font-size: 2.7rem;
}
.header-content > p {
  font-size: 1.8rem;
}

.header-button {
  margin-top: 1rem;
  display: flex;
  gap: 0.7rem;
}

.header-button > a:first-child {
  background-color: #43816e;
}
.header-button > a:last-child {
  background-color: #fff;
  color: #000;
}

.header-button > a:hover {
  opacity: 0.5;
}

/* Home Section B */
#home-b {
  margin: 0.7rem 0;
}
.section-title {
  font-size: 2.2rem;
  color: #1a1514;
}

.our-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.ourserviceA {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #20384c;
}

.ourserviceA > img {
  width: 100%;
  height: 220px;
}

.text {
  color: #fff;
  padding: 20px 30px 30px;
  text-align: left;
}
.text > h5 {
  font-weight: 200;
}

/* Home Section C */
#home-c {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.choose-us {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
  align-items: stretch;
}

.choose-usA {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 50px 30px 30px;
}

.choose-usA > img {
  width: 60%;
  height: 7rem;
}

.choose-usA:nth-child(2) > h2 {
  margin-top: 1rem;
}

/* Home Section D */
#contact {
  padding: 5rem 1.5rem;
  margin: auto;
  margin-bottom: 4rem;
  overflow: hidden;
  background-color: #20384c;
  color: #fff;
  font-weight: 550;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.contact-items {
  display: flex;
  gap: 2rem;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  width: 25rem;
  color: #fff;
}
#contact .bottom-line {
  background: #fff;
}
#contact .section-title {
  color: #fff;
}

#contact .text-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-areas:
    "name phone"
    "email button"; */
  gap: 1.2rem;
  margin-bottom: 1.2rem;
  justify-items: start;
}
#contact .text-fields > *:last-child {
  width: 9rem;
  background-color: #43816e;
  color: #fff;
  border: none;
}

#contact .text-fields > input {
  padding: 1rem 1rem;
  width: 20rem;
  border-radius: 0px;
}
